@media (max-width: 1200px) {
  .mainInfo {
    padding: 124px 0 0 100px;
    &__title {
      font-weight: 400;
      font-size: 50px;
    }
  }
  .leftBlock {
    margin-left: 105px
  }
  .header__img {
    left: 380px;
    top: 306px;
    img {
      height: 400px;
      width: 400px;
    }
  }
  .main {
    margin: 81px 50px 50px 50px;
  }
  .cards {
    gap: 40px;
    justify-content: space-between;
  }
  .card {
    width: 430px;
    &_descr {
      word-wrap: break-word;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 15px;
    }
    &_link {
      margin-right: 180px;
    }
  }
  .TEXT_TEXT_title {
    font-size: 50px;
  }
  .TEXT_TEXT__cards__card_descr{
    font-size: 12px;
  }
  .TEXT_TEXT__cards {
    gap: 40px;
    &__card {
      width: 180px;
      &_num {
        font-size: 230px;
        top: -86px;
        left: 90px;
      }
    }
  }
  .footer_logo{
    font-size: 50px;
  }
}

@media  ( max-width: 991px) {
  .logo {
    height: 50px;
    padding: 37px 0 0 68px;
    &_text {
      font-size: 40px;
    }
  }
  .leftBlock {
    width: 50%;
    height: 100px;
    background: #FFFFFF;
    position: absolute;
    left: 38%;
  }
  .links {
    margin-top: 42px;
    gap: 80px;
    justify-content: flex-start;
    font-size: 18px;
    z-index: 2;
    width: 400px;
    &_link {
      color: #000000;
      &:hover {
        border-bottom: 2px solid $main-color;
      }
    }
  }
  .mainInfo {
    padding: 80px 0 0 112px;
    &__title {
      font-size: 60px;
    }
    &__subtitle {
      padding-top: 21px;
    }
    &__button {
      margin-top: 90px;
    }
  }
  .header__img {
    left: 245px;
    top: 405px;
  }
  .header {
    height: 770px;
  }
  .main {
    margin: 65px 30px 50px 30px
  }
  .cards {
    flex-direction: column;
  }
  .card {
    width: 708px;
    height: 372px;
    position: relative;
    &__mainInfo {
      &_icon {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 92px;
        left: 446px;
      }
      &_title {
        font-size: 36px;
      }
    }
    &_descr {
      font-size: 15px;
      padding: 24px 0 0 52px;
      width: 355px;
    }
    &_link {
      margin: 52px 410px 0 52px;
    }
  }
  .TEXT_TEXT_title{
    font-size: 60px;
  }
  .TEXT_TEXT{
    margin-top: 40px;
    &__cards {
      flex-wrap: wrap;
      justify-content: space-around;
      &__card {
        width: 250px;
        height: 280px;
        justify-content: flex-start;
        &_descr {
          font-size: 14px;
          margin-top: 65px;
        }
        &_num {
          width: 112px;
          height: 280px;
          font-size: 280px;
          top: -103px;
          left: 117px;
        }
      }
    }
  }
  .footer {
    width: 100%;
    height: 150px;
  }
  .footer_logo {
    font-size: 40px;
    padding: 45px 0 0 27px;
  }
}

@media ( max-width: 767px)  {
  .header {
    height: 900px;
    display: block;
    &__img {
      left: 25%;
      top: 350px;
    }
  }

  .logo{
    justify-content: space-between;
    padding: 37px 68px 0 68px;
  }
  .mainInfo {
    margin-top: 37px;
    width: 100%;
    height: 500px;
    background: $main-color;
    padding: 0;
    color: #FFFFFF;
    text-align: center;
    &__title {
      padding-top: 50px;
    }
    &__button {
      margin-top: 500px;
    }
  }
  .card {
    width: 100%;
    &__mainInfo {
      display: flex;
      &_icon {
        width: 80px;
        height: 80px;
        position: relative;
        top: 0;
        left: 0;
      }
    }
    &_descr {
      width: 80%;
      font-size: 18px;
    }
    &_link {
      margin-right: 300px;
      margin-top: 30px;
    }
  }
  .TEXT_TEXT {
    &_title {
      margin-left: 20px;
    }
    &__cards {
      &__card {
        width: 80%;
        height: 200px;
        display: flex;
        gap: 50px;
        align-items: center;
        &_icon {
          width: 120px;
          height: 120px;
        }
        &_descr {
          margin-top: 0;
          font-size: 20px;
        }
        &_num {
          display: none;
        }
      }
    }
  }
  .footer_logo {
    text-align: center;
    font-size: 40px;
  }
  .logo__hamburger {
    display: block;
    //position: absolute;
    right: 20px;
    transform: translateY(-50%);
    width: 26px;
    height: 12px;
    span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #000000;
      margin-bottom: 3px;
      transition: 0.8s;
    }
    &_active {
      span {
        margin-bottom: -2px;
        &:nth-child(1) {
          transform: translateY(3px) rotate(-45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: translateY(3px) rotate(45deg);
        }
      }
    }
  }
  .links {
    position: fixed;
    flex-direction: column;
    height:220px;
    background: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    top: -40%;
    gap: 5px;
    right: 0;
    width: 100%;
    transition: 0.6s all;
    z-index: 5;
    hr {
      display: block;
      margin: 5px 0;
      width: 100%;
      padding: 0;
    }
    &_link {
      margin-top: 7px;
      color: #000;
      font-size: 20px;
      &:hover {
        border-bottom: 0 solid #383DB7;
        padding-bottom: 0;
        color: $main-color
      }
    }
    &_active {
      top: 8%;
    }
  }
}

@media ( max-width: 575px) {
  .logo_text {
    font-size: 30px;
  }
  .logo{
    padding: 20px 20px 0 20px;
    gap: 30%;
    z-index: 10000;
  }
  .leftBlock{
    display: block;
    width: 0;
  }
  .logo img {
    width: 40px;
    height: 40px;
  }
  .mainInfo {
    height: 300px;
    margin-top: 20px;
  }
  .mainInfo__title {
    font-size: 36px;
    padding-top: 42px;
  }
  .mainInfo__subtitle {
    padding-top: 12px;
    font-size: 14px;
  }
  .header__img img {
    width: 80%;
    height: 80%;
  }
  .header__img {
    top: 225px;
  }
  .header {
    height: 550px;
  }
  .mainInfo__button {
    margin-top: 35vh;
    width: 92%;
    height: 40px;
    font-size: 14px;
  }
  .card__mainInfo_icon {
    width: 50px;
    height: 50px;
    img {
      width: 42px;
      height: 42px;
    }
  }
  .links_active {
    top: 4%;
  }
  .card {
    height: 330px;
  }
  .card__mainInfo_title {
    font-size: 24px;
  }
  .card__mainInfo{
    padding: 22px;
    gap: 20px;
  }
  .card_descr {
    width: 80%;
    font-size: 14px;
    padding: 0 0 0 20px;
  }
  .main {
    margin: 75px 20px 30px 20px;
  }
  .card_link {
    margin-right: 0;
    margin-left: 20px;
    position: relative;
    display: inline-block;
    &_line {
      width: 85vw;
      border: 1px solid #D9D9D9;
      margin-bottom: 20px;
    }
  }
  .TEXT_TEXT {
    margin-top: 33px;
    &__cards {
      justify-content: space-between;
      &__card {
        height: 60px;
        gap: 20px;
        width: 100%;
        &_icon {
          width: 60px;
          height: 60px;
          img {
            width: 30px;
            height: 30px;
          }
        }
        &_descr {
          font-size: 14px;
        }
      }
    }
  }
  .TEXT_TEXT_title {
    margin-left: 39px;
    font-size: 36px;
  }
  .footer {
    height: 83px;
  }
  .footer_logo {
    font-size: 30px;
    padding: 10px 127px;
  }

}
